body {
    background-color: rgb(42, 35, 67);
    color: rgb(151, 226, 237);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

#copilot-header {
    background-color: rgb(42, 35, 67);
    color: rgb(151, 226, 237);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    float: left;
}

img {
    max-width: 50%;
    height: 50%;
}

#copilot-content {
    margin: 0;
    padding: 0;
    float: left;
}

a {
    color: #97e2ed;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: none;
}